.bg{
    background-color: #f5f5f5;
}

img
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    
    display: flex;
    margin: auto;
}

i
{
    color: #0a8765b0;
    font-size: 26px;
}

.spacing
{
    padding-bottom: 100px;
}

.carousel-indicators
{
    left: 0;
    top: auto;
    bottom: -70px;
}

.carousel-indicators li
{
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #009970;
    border-radius: 50%;
    
}

.carousel-indicators .active
{
    background: #009970;
}

hr
{
    width: 80px;
    height:3px;
    background-color: #006400;
     display: inline-block;
     border-radius: 10px;
     font-weight: bold;
}

