<div class="bg">
    <div class="container pt-5 pb-5">
        <div class="spacing">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <h1>SERVICES</h1>
                    <hr>
                    <p>Magnam dolores commodi suscipit nemo qui impedit suscipit alias ea. Quia fugiat sit in iste
                        officiis
                        commodi quidem hic quas.</p>
                </div>


                <div class="col-12 col-md-6 col-lg-8 d-flex justify-content-center m-auto">
                    <div id="carouselExampleCaptions" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></li>
                            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2">
                            </li>
                            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3">
                            </li>

                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">

                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 pt-5">
                                        <div class="card sub-card">
                                            <div class="card-body">





                                                <p class="card-text content text-center"><i
                                                        class="bx bxs-quote-alt-left quote-icon-left"></i>Proin iaculis
                                                    purus consequat sem cure digni ssim donec porttitora entum suscipit
                                                    rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et.
                                                    Maecen aliquam, risus at semper.<i
                                                        class="bx bxs-quote-alt-right quote-icon-right"></i> </p>
                                                <img src="assets/user11.jpg" class="rounded-circle">
                                                <h5 class="card-title text-center mt-2"><b>Sara Wilsson</b></h5>
                                                <p class="text-center">Designer</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 pt-5">
                                        <div class="card sub-card">
                                            <div class="card-body">

                                                <p class="card-text content"><i
                                                        class="bx bxs-quote-alt-left quote-icon-left"></i>Proin iaculis
                                                    purus consequat sem cure digni ssim donec porttitora entum suscipit
                                                    rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et.
                                                    Maecen aliquam, risus at semper.<i
                                                        class="bx bxs-quote-alt-right quote-icon-right"></i> </p>
                                                <img src="assets/user22.jpg" class="rounded-circle">
                                                <h5 class="card-title text-center mt-2"><b>Jena Karlis</b></h5>
                                                <p class="text-center">Store Owner</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 pt-5">
                                        <div class="card sub-card">
                                            <div class="card-body">

                                                <p class="card-text content"><i
                                                        class="bx bxs-quote-alt-left quote-icon-left"></i>Proin iaculis
                                                    purus consequat sem cure digni ssim donec porttitora entum suscipit
                                                    rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et.
                                                    Maecen aliquam, risus at semper.<i
                                                        class="bx bxs-quote-alt-right quote-icon-right"></i> </p>
                                                <img src="assets/user3.jpg" class="rounded-circle">
                                                <h5 class="card-title text-center mt-2"><b>Sara Wilsson</b></h5>
                                                <p class="text-center">Designer</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 pt-5">
                                        <div class="card sub-card">
                                            <div class="card-body">

                                                <p class="card-text content"><i
                                                        class="bx bxs-quote-alt-left quote-icon-left"></i>Proin iaculis
                                                    purus consequat sem cure digni ssim donec porttitora entum suscipit
                                                    rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et.
                                                    Maecen aliquam, risus at semper.<i
                                                        class="bx bxs-quote-alt-right quote-icon-right"></i> </p>
                                                <img src="assets/user4.jpg" class="rounded-circle">
                                                <h5 class="card-title text-center mt-2"><b>Sara Wilsson</b></h5>
                                                <p class="text-center">Freelancer</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 pt-5">
                                        <div class="card sub-card">
                                            <div class="card-body">

                                                <p class="card-text content"><i
                                                        class="bx bxs-quote-alt-left quote-icon-left"></i>Proin iaculis
                                                    purus consequat sem cure digni ssim donec porttitora entum suscipit
                                                    rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et.
                                                    Maecen aliquam, risus at semper.<i
                                                        class="bx bxs-quote-alt-right quote-icon-right"></i> </p>
                                                <img src="assets/user5.jpg" class="rounded-circle">
                                                <h5 class="card-title text-center mt-2"><b>Sara Wilsson</b></h5>
                                                <p class="text-center">Ceo</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 pt-5">
                                        <div class="card sub-card">
                                            <div class="card-body">

                                                <p class="card-text content"><i
                                                        class="bx bxs-quote-alt-left quote-icon-left"></i>Proin iaculis
                                                    purus consequat sem cure digni ssim donec porttitora entum suscipit
                                                    rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et.
                                                    Maecen aliquam, risus at semper.<i
                                                        class="bx bxs-quote-alt-right quote-icon-right"></i> </p>
                                                <img src="assets/user6.jpg" class="rounded-circle">
                                                <h5 class="card-title text-center mt-2"><b>Sara Wilsson</b></h5>
                                                <p class="text-center">Designer</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>