<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <h1>TEAM</h1>
            <hr>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
        </div>


        <div class="col-12 col-md-6 col-lg-8">

            <div class="row row-cols-1 row-cols-md-2 g-4 ">
                <div class="col">
                    <div class="card shadow">
                        <img src="assets/user22.jpg" class="rounded-circle">
                        <div class="card-body">
                            <h5 class="card-title"><b>Sarah Jhonson</b></h5>
                            <p class="card-text">Product Manager</p>
                            <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                            <div>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-twitter"></i>
                                </a>

                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-linkedin"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <img src="assets/user3.jpg" class="rounded-circle">
                        <div class="card-body">
                            <h5 class="card-title"><b>William Anderson</b></h5>
                            <p class="card-text">CTO</p>
                            <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                            <div>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-twitter"></i>
                                </a>

                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-linkedin"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <img src="assets/user4.jpg" class="rounded-circle">
                        <div class="card-body">
                            <h5 class="card-title"><b>Amanda Jepson</b></h5>
                            <p class="card-text">Chief Executive Officer</p>
                            <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                            <div>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-twitter"></i>
                                </a>

                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-linkedin"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow">
                        <img src="assets/user6.jpg" class="rounded-circle">
                        <div class="card-body">
                            <h5 class="card-title"><b>Walter White</b></h5>
                            <p class="card-text">Chief Executive Officer</p>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                            <div>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-twitter"></i>
                                </a>

                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="" class="me-4 text-reset">
                                    <i class="fab fa-linkedin"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>