<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card maincard ">

                <div class="card-body">
                    <h2 class="card-title">Why Choose Bethany for your company website?</h2>
                    <p class="card-text content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                        Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus
                        optio ad corporis.</p>
                    <div class="text-center">
                        <button class="btn btn-success rounded-pill">
                            Learn More <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 spacing">
            <div class="card sub-card">
                <i class="far fa-file-alt"></i>
                <div class="card-body">
                    <h5 class="card-title">Corporis voluptates sit</h5>
                    <p class="card-text content">Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris
                        nisi ut aliquip</p>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 spacing">
            <div class="card sub-card">
                <i class="fas fa-cube"></i>
                <div class="card-body">
                    <h5 class="card-title">Ullamco laboris ladore pan</h5>
                    <p class="card-text content">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                        officia
                        deserunt.</p>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 spacing">
            <div class="card sub-card">
                <i class="far fa-images"></i>
                <div class="card-body">
                    <h5 class="card-title">Labore consequatur</h5>
                    <p class="card-text content">Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores
                        omnis facere
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>