<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted pt-4">
    <!-- Section: Social media -->

    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Bethany
                    </h6>
                    <p>
                        A108 Adam Street<br>
                        New York, NY 535022<br>
                        United States<br><br>
                        <b> Phone:</b> +1 5589 55488 55<br>
                        <b> Email: </b>info@example.com
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful Links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset"><i class="icon fas fa-angle-right"></i> Home</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"><i class="icon fas fa-angle-right"></i> About us</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"><i class="icon fas fa-angle-right"></i> Services</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"><i class="icon fas fa-angle-right"></i> Terms of service</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"><i class="icon fas fa-angle-right"></i> Privacy policy </a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Our Services
                    </h6>
                    <p>
                        <a href="#!" class="text-reset"><i class="icon fas fa-angle-right"></i> Web Design</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"><i class="icon fas fa-angle-right"></i> Web Development</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"><i class="icon fas fa-angle-right"></i> Product Management</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"><i class="icon fas fa-angle-right"></i> Marketing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset"><i class="icon fas fa-angle-right"></i> Graphic Design</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Join Our Newsletter</h6>

                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="" aria-label=""
                            aria-describedby="button-addon2">
                        <button class="btn btn-success" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                            Button
                        </button>
                    </div>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <!--  -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        style="background-color: rgba(0, 0, 0, 0.05);">
        <!-- Left -->
        <div class="">
            © Copyright Bethany. All Rights Reserved
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Copyright -->
</footer>
<!-- Footer -->