<div class="bg">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <h1>SERVICES</h1>
                <hr>
                <p>Magnam dolores commodi suscipit nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis
                    commodi quidem hic quas.</p>
            </div>


            <div class="col-12 col-md-6 col-lg-8">

                <div class="row row-cols-1 row-cols-md-2 g-4 ">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="icon d-flex m-auto btn btn-outline-success">
                                <i class="fas fa-basketball-ball"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Lorem Ipsum</h5>
                                <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                    excepturi</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="icon d-flex m-auto btn btn-outline-success">
                                <i class="far fa-file-alt"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Sed ut perspiciatis</h5>
                                <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum
                                    dolore</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="icon d-flex m-auto btn btn-outline-success">
                                <i class="far fa-compass"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Magni Dolores</h5>
                                <p class="card-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                    officia</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="icon d-flex m-auto btn btn-outline-success">
                                <i class="fas fa-globe-asia"></i>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Nemo Enim</h5>
                                <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                    blanditiis</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>