<div class="container pt-5 pb-5">
    <div class="ali">
        <h1>PORTFOLIO</h1>
        <hr>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-outline-success active rounded-pill">ALL</button>
        <button class="btn btn-outline-success rounded-pill">APP</button>
        <button class="btn btn-outline-success rounded-pill">CARD</button>
        <button class="btn btn-outline-success rounded-pill">WEB</button>

    </div>


    <div class="row pt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="/assets/lap.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="./assets/clock.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />


        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="assets/book.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="\assets\food.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="\assets\perfume.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="\assets\walk.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="\assets\workarea.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="\assets\book.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="\assets\lap.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>





    </div>